---
import Layout from "../layouts/Layout.astro";
import { Image } from "astro:assets";
import "../assets/styles/about.module.css";
import blingus from "../assets/images/blingus.png";
import { getCollection } from "astro:content";

const allPosts = await getCollection("blog");
const sortedPosts = allPosts.sort(
    (a, b) => b.data.pubdate.getTime() - a.data.pubdate.getTime(),
);

const latest = sortedPosts[0];
const recent = sortedPosts.slice(1, 4);
console.log("latest slug:", latest.slug + "-title");
---

<Layout title="Blog">
    <div class:list={["mx-auto max-w-2xl px-3 sm:w-5/6"]}>
        <article
            class="prose prose-invert lg:prose-lg prose-headings:mt-[3rem] prose-a:text-gray-400 hover:prose-a:text-sky-300"
        >
            <h1>
                <span transition:name="blog-title" class="text-center"
                    >Blog</span
                >
            </h1>

            <div class="h-full w-full">
                {
                    latest && (
                        <div class="flex flex-col items-center rounded-xl border-2 border-s-4 border-sky-300 bg-gradient-to-b from-sky-950 to-slate-900 prose-a:no-underline">
                            <a href={"/posts/" + latest.slug}>
                                <img
                                    transition:name={latest.slug + "-image"}
                                    src={latest.data.image?.src}
                                    alt={latest.data.image?.alt}
                                />
                                <h1>
                                    <span
                                        transition:name={latest.slug + "-title"}
                                    >
                                        {latest.data.title}
                                    </span>
                                </h1>
                            </a>
                        </div>
                    )
                }
                {
                    recent && (
                        <>
                            <hr />
                            <h2>Recent Posts</h2>
                            <div class="flex">
                                {recent.map((post) => {
                                    return (
                                        <div class="not-prose flex flex-col justify-start rounded-xl border-2 border-sky-300 object-cover">
                                            {post.data?.image ? (
                                                <div class="max-h-40 w-full max-w-sm overflow-clip object-contain">
                                                    <img
                                                        src={
                                                            post.data.image?.src
                                                        }
                                                        alt={
                                                            post.data.image?.alt
                                                        }
                                                    />
                                                    {/* <Image */}
                                                    {/*     src={ */}
                                                    {/*         post.data.image.src */}
                                                    {/*     } */}
                                                    {/*     alt="picture" */}
                                                    {/* /> */}
                                                </div>
                                            ) : (
                                                <img
                                                    src={blingus.src}
                                                    alt="blingus"
                                                    class="h-[6rem] w-[10rem] object-cover"
                                                />
                                            )}
                                            <h3 class="mx-3 mt-0">
                                                {post.data.title}
                                            </h3>
                                        </div>
                                    );
                                })}
                            </div>
                        </>
                    )
                }

                <hr />
                <p>
                    <a href="/posts/mpas-are-cool-again">MPAs are Cool Again</a>
                </p>
            </div>
        </article>
    </div>
</Layout>
