---
import Layout from "../layouts/Layout.astro";
import { Image } from "astro:assets";
import "../assets/styles/about.module.css";
import { getCollection } from "astro:content";
import { formatDate } from "../utils/formatDate";

const allPosts = await getCollection("blog");
const sortedPosts = allPosts.sort(
    (a, b) => b.data.pubdate.getTime() - a.data.pubdate.getTime(),
);

const latest = sortedPosts[0];
const recent = sortedPosts.slice(1, 5);
const others = sortedPosts.slice(4);
---

<Layout title="Blog">
    <div class:list={["mx-auto max-w-2xl px-3 sm:w-5/6"]}>
        <article
            class="prose prose-invert py-12 lg:prose-lg prose-a:text-gray-400 hover:prose-a:text-sky-300 prose-hr:my-12"
        >
            <h1>
                <span transition:name="blog-title" class="text-center"
                    >Blog</span
                >
            </h1>

            <div class="h-full w-full">
                {
                    latest && (
                        <div class="flex flex-col items-center rounded-xl border-2 border-s-4 border-sky-300 bg-gradient-to-b from-sky-950 to-slate-900 prose-a:no-underline">
                            <a href={"/posts/" + latest.slug}>
                                {typeof latest.data.cover === "object" ? (
                                    <Image
                                        transition:name={latest.slug + "-image"}
                                        src={latest.data.cover}
                                        alt={latest.data.coverAlt}
                                    />
                                ) : (
                                    <img
                                        transition:name={latest.slug + "-image"}
                                        src={latest.data.cover}
                                        alt={latest.data.coverAlt}
                                    />
                                )}
                                <h1>
                                    <span
                                        transition:name={latest.slug + "-title"}
                                    >
                                        {latest.data.title}
                                    </span>
                                </h1>
                                <p />
                            </a>
                        </div>
                    )
                }
                {
                    recent.length > 0 && (
                        <>
                            <hr />
                            <h2>Recent Posts</h2>
                            <div class="flex gap-3">
                                {recent.map((post) => {
                                    return (
                                        <div class="not-prose flex flex-col justify-start rounded-xl border-2 border-sky-300 object-cover">
                                            <a href={"/posts/" + post.slug}>
                                                <div
                                                    class="max-h-40 w-full max-w-sm overflow-clip object-contain"
                                                    transition:name={
                                                        post.slug + "-image"
                                                    }
                                                >
                                                    {typeof post.data.cover ===
                                                    "object" ? (
                                                        <Image
                                                            src={
                                                                post.data.cover
                                                            }
                                                            alt={
                                                                post.data
                                                                    .coverAlt
                                                            }
                                                            class="max-h-40 object-cover"
                                                        />
                                                    ) : (
                                                        <img
                                                            src={
                                                                post.data.cover
                                                            }
                                                            alt={
                                                                post.data
                                                                    .coverAlt
                                                            }
                                                        />
                                                    )}
                                                </div>
                                                <h3 class="mx-3 mt-0">
                                                    <span
                                                        transition:name={
                                                            post.slug + "-title"
                                                        }
                                                    >
                                                        {post.data.title}
                                                    </span>
                                                </h3>
                                            </a>
                                        </div>
                                    );
                                })}
                            </div>
                        </>
                    )
                }

                {
                    others.length > 0 && (
                        <>
                            <hr />

                            <h2>Older</h2>
                            <div class="flex flex-col">
                                {others.map((post) => (
                                    <div class="flex gap-6">
                                        <span>
                                            {formatDate(post.data.pubdate)}
                                        </span>
                                        <a href={"/posts/" + post.slug}>
                                            {post.data.title}
                                        </a>
                                    </div>
                                ))}
                            </div>
                        </>
                    )
                }
            </div>
        </article>
    </div>
</Layout>
