---
import { Image } from "astro:assets";
import blingus from "../assets/images/blingus_cropped.png";

const navItems = [
    {
        path: "/code",
        label: "Code",
    },
    {
        path: "/experience",
        label: "Experience",
    },
    {
        path: "/articles",
        label: "Articles",
    },
    {
        path: "/about",
        label: "About",
    },
];

interface Props {
    path?: string;
}
const { path } = Astro.props;
---

<nav class="h-12 w-full flex justify-between items-center bg-slate-800 px-3">
    <div class="h-full w-auto flex">
        <a href="/" class="flex items-center">
            <Image
                src={blingus}
                alt="blingus"
                class="h-full w-auto pt-2"
                width={90}
                height={108}
                quality="mid"
            />
            <div class="mx-3">Home</div>
        </a>
    </div>
    <div class="hidden xs:flex gap-5 p-3">
        {
            navItems.map((item) => {
                let active = item.path === path;

                if (!active || !path) {
                    return (
                        <div class="flex flex-col">
                            <div>
                                <a href={item.path}>{item.label}</a>
                            </div>
                            <div class="w-full h-1" />
                        </div>
                    );
                }
                return (
                    <div class="flex flex-col">
                        <div>
                            <a href={item.path}>{item.label}</a>
                        </div>
                        <div
                            class="w-full h-0.5 bg-sky-300 rounded-s"
                            transition:name="nav-active"
                        />
                    </div>
                );
            })
        }
    </div>
</nav>
