---
import { Image } from "astro:assets";
import blingus from "../assets/images/blingus_cropped.png";
import { getCollection } from "astro:content";

const navItems = [
    {
        path: "/code",
        label: "Code",
    },
    {
        path: "/experience",
        label: "Experience",
    },
    {
        path: "/skills/all",
        label: "Skills",
    },
    {
        path: "/blog",
        label: "Blog",
    },
    {
        path: "/about",
        label: "About",
    },
];

const alongPath = (path: string) => {
    const { pathname } = Astro.url;
    const pathRe = /\/\w*/;

    const p1 = path.match(pathRe)![0];
    const p2 = pathname.match(pathRe)![0];

    if (!p1 || !p2) return false;
    return p1 === p2;
};

const publishedPosts = await getCollection("blog", ({ data }) => data.publish);

if (publishedPosts.length < 1) console.log("NO POSTS");
---

<nav class="flex h-12 w-full items-center justify-between bg-slate-800 px-3">
    <div class="flex h-full w-auto">
        <a href="/" class="flex items-center" draggable="false">
            <Image
                src={blingus}
                alt="blingus"
                class="h-full w-auto pt-2"
                width={90}
                height={108}
                quality="mid"
            />
            <div class="mx-3">Home</div>
        </a>
    </div>
    <div class="hidden gap-5 p-3 xs:flex">
        {
            navItems.map((item) => {
                if (publishedPosts.length < 1 && item.path === "/blog") return;
                let active = alongPath(item.path);

                if (!active) {
                    return (
                        <div class="flex flex-col">
                            <div>
                                <a href={item.path} draggable="false">
                                    {item.label}
                                </a>
                            </div>
                            <div class="h-1 w-full" />
                        </div>
                    );
                }
                return (
                    <div class="flex flex-col">
                        <div>
                            <a href={item.path} draggable="false">
                                {item.label}
                            </a>
                        </div>
                        <div
                            class="h-0.5 w-full rounded-s bg-sky-300"
                            transition:name="nav-active"
                        />
                    </div>
                );
            })
        }
    </div>
</nav>
