---
import {
    all,
    likeList,
    loveList,
    proList,
    hobbyList,
} from "../../components/skills/skillList.data.astro";
import Layout from "../../layouts/Layout.astro";
import SkillsLayout from "../../layouts/SkillsLayout.astro";
import SkillList from "../../components/skills/SkillList.astro";

export async function getStaticPaths() {
    return [
        { params: { sort: "all" } },
        { params: { sort: "lovelikemeh" } },
        { params: { sort: "prohobby" } },
    ];
}

const { sort } = Astro.params;
---

<Layout title="Skills" path="/skills">
    <SkillsLayout path={`/${sort}`}>
        {
            sort === "lovelikemeh" && (
                <div class="mx-auto flex w-full max-w-2xl flex-wrap justify-center gap-5">
                    <div class="text-2xl font-bold">Love these</div>
                    <SkillList badges={loveList} />

                    <div class="text-2xl font-bold">Like These</div>
                    <SkillList badges={likeList} />
                </div>
            )
        }
        {
            sort === "all" && (
                <div class="flex grow flex-col gap-[3rem]">
                    <div class="mx-auto flex w-full max-w-2xl flex-wrap justify-center gap-5">
                        <div class="text-2xl font-bold">All Skills</div>
                        <SkillList badges={all} />
                    </div>
                </div>
            )
        }
        {
            sort === "prohobby" && (
                <div class="flex grow flex-col gap-[3rem]">
                    <div class="mx-auto flex w-full max-w-2xl flex-wrap justify-center gap-5">
                        <div class="text-2xl font-bold">
                            Professional Experience
                        </div>
                        <SkillList badges={proList} />

                        <div class="text-2xl font-bold">
                            Personal Experience
                        </div>
                        <SkillList badges={hobbyList} />
                    </div>
                </div>
            )
        }
    </SkillsLayout>
</Layout>
