---
import Layout from "./Layout.astro";
import { formatDate } from "../utils/formatDate";
const { frontmatter } = Astro.props;
---

<Layout title={frontmatter.title}>
    <div class:list={["mx-auto mb-12 max-w-2xl px-3 sm:w-5/6"]}>
        <article
            class="prose prose-invert lg:prose-lg prose-headings:mt-[3rem] prose-a:text-gray-400 hover:prose-a:text-sky-300"
        >
            <img
                width="100%"
                height="100%"
                class="pt-9"
                src={frontmatter.image.url}
                alt={frontmatter.image.alt}
            />
            <h1 class="sm:mb-0" transition:name="post-title">
                {frontmatter.title}
            </h1>
            <span class="font-light italic">
                {formatDate(frontmatter.pubdate)}
            </span>
            <slot />
        </article>
    </div>
</Layout>
