---
import Layout from "./Layout.astro";
import { formatDate } from "../utils/formatDate";
import { Image } from "astro:assets";
const { frontmatter, slug } = Astro.props;
---

<Layout title={frontmatter.title}>
    <div class:list={["mx-auto mb-12 max-w-2xl px-3 sm:w-5/6"]}>
        <article
            class="prose prose-invert lg:prose-lg prose-headings:mt-[3rem] prose-a:text-gray-400 hover:prose-a:text-sky-300"
        >
            <div class="mt-6">
                {
                    typeof frontmatter.cover === "object" ? (
                        <Image
                            src={frontmatter.cover}
                            alt={frontmatter.coverAlt}
                        />
                    ) : (
                        <img
                            transition:name={slug + "-image"}
                            width="100%"
                            height="100%"
                            class="max-h-[20rem] object-cover"
                            src={frontmatter.cover}
                            alt={frontmatter.coverAlt}
                        />
                    )
                }
            </div>
            <h1 class="sm:mb-0">
                <span transition:name={slug + "-title"}
                    >{frontmatter.title}</span
                >
            </h1>
            <span class="font-light italic">
                {formatDate(frontmatter.pubdate)}
            </span>
            <slot />
        </article>
    </div>
</Layout>
