---
import Layout from "./Layout.astro";
import { formatDate } from "../utils/formatDate";
const { frontmatter, slug } = Astro.props;
console.log("astro props", Astro.props);
console.log("fm slug:", frontmatter.slug + "-title");
---

<Layout title={frontmatter.title}>
    <div class:list={["mx-auto mb-12 max-w-2xl px-3 sm:w-5/6"]}>
        <article
            class="prose prose-invert lg:prose-lg prose-headings:mt-[3rem] prose-a:text-gray-400 hover:prose-a:text-sky-300"
        >
            <div class="mt-6">
                <img
                    transition:name={slug + "-image"}
                    width="100%"
                    height="100%"
                    src={frontmatter.image.src}
                    alt={frontmatter.image.alt}
                />
            </div>
            <h1 class="sm:mb-0">
                <span transition:name={slug + "-title"}
                    >{frontmatter.title}</span
                >
            </h1>
            <span class="font-light italic">
                {formatDate(frontmatter.pubdate)}
            </span>
            <slot />
        </article>
    </div>
</Layout>
